<p id="notice"><%= notice %></p>

<h1>Publications</h1>
<br>
    <% @publications.each do |publication| %>
        <h2><%= link_to publication.title, publication %></h2>
        <div style="width: 400px; height: auto">
            <%= image_tag  (publication.image), style:'width:100%' %>
        </div>
        <td><%= publication.description %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <% end %>
<br>

<%= link_to 'New Publication', new_publication_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
