<!DOCTYPE html>
<html>
  <head>
    <title>myBrainstorm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <h3><%= link_to "myBrainstorm", root_path, class: "align-self-start text-white text-decoration-none" %></h3>
          </ul>
  
          <div class="text-end">
            <!-- <%= link_to "Se deconnecter", destroy_user_session_path, :method => :delete, class: "btn btn-outline-light me-2" %> -->
            <% if user_signed_in? %>
              <%= link_to "Se deconnecter", destroy_user_session_path, :method => :delete, class: "btn btn-outline-light me-2" %>
            <% else %>
              <%= link_to "Se connecter", new_user_session_path, class: "btn btn-outline-light me-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
